<!DOCTYPE html>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>MANGA SCAN DL</title>

    </head>
    <body>
        <h1>Manga scan downloader...</h1>
        <hr>

        <div id="test">

        </div>
        
        <!-- main -->
            
        <div id="mangaList">

            <div id="searchMangaDiv">
                <button id="btn-refresh">Refresh</button>
                <img id="magnifying" src="images/loupe.png">
                <input id="searchBar" type="text" placeholder="Search manga">
            </div>

            <div id="mangaDisplay">
            </div>

        </div>

        <div id="bottomDivs">

            <div id="firstBotDiv">
                <h1 id="chapter-title">Chapters list:</h1>
                <div id="chapterList">

                    <!--   
                    <div id="chapter-display">
                        <div id="chapter-title">
                            <a href="#"> <h2>Black Clover 108: Le mage X</h2> </a>
                        </div>
                    </div>
                    -->

                </div>
            </div>
            
            <div id="secondBotDiv">
                <h1 id="scanDownload-title" >Scans downloaded</h1>
                <div id="downloadedScansDiv">
                    
                </div>
            </div>
        </div>
        

        <script src="index.js"></script>
    </body>
</html>